@font-face {
  font-family: "Lora";
  src: local("Lora Regular"), local("Lora-Regular"), url("~@/assets/fonts/Lora-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IstokWeb";
  src: local("IstokWeb Regular"), local("IstokWeb-Regular"), url("~@/assets/fonts/IstokWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IstokWeb";
  src: local("IstokWeb Bold"), local("IstokWeb-Bold"), url("~@/assets/fonts/IstokWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
