:root {
  @media screen and (max-width: 1900px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1440px) {
    font-size: 12px;
  }
  @media screen and (max-width: 1280px) {
    font-size: 10px;
  }
  @media screen and (max-width: 1080px) {
    font-size: 8px;
  }
  @media screen and (max-width: 850px) {
    font-size: 7px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: $font-family-IstokWeb;
}

* {
  line-height: 2rem;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.title_underlined {
  text-align: center;
  position: relative;
  margin-bottom: 5%;
  font-size: 2.5rem;
  line-height: 2.25rem;

  &::after {
    content: "";
    position: absolute;
    height: 0.75rem;
    background-color: $colour-accent;
    width: 60%;
    border-radius: 1rem;
    right: 0;
    bottom: -1rem;
  }

  &.__left {
    &::after {
      left: 0;
    }
  }
}

.dropdownActive {
  transform: scale(1, -1);
}

// ====== Animation =======

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.3s ease;
}

.dropdown-enter,
.dropdown-leave-to {
  transform: translateY(-50%) scale(0);
}
