:root {
  @media screen and (max-width: 1900px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1440px) {
    font-size: 12px;
  }
  @media screen and (max-width: 1280px) {
    font-size: 10px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  line-height: 2rem;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
 align-items: center;
}

.title-underlined-left,
.title-underlined-right {
  text-align: center;
  position: relative;
  margin-bottom: 5%;
  line-height: 2.5rem;

  &::after {
    content: "";
    position: absolute;
    height: 0.75rem;
    background-color: $colour-accent;
    width: 60%;
    border-radius: 1rem;
    right: 0;
    bottom: -1rem;
  }
}

.title-underlined-left {
  &::after {
    left: 0;
  }
}

.title-underlined-right {
  &::after {
    right: 0;
  }
}

.hooper {
  height: auto!important;
}