/* Colours */

$colour-accent: #FF9A3D;



/* Fonts */

$font-family-Lora: "Lora", Arial, Helvetica, sans-serif;
$font-family-IstokWeb: "IstokWeb", Arial, Helvetica, sans-serif;

$font-size-text: 1.5rem;